header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #354f52;
  z-index: 999;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

header nav a {
  color: #cad2c5;
  text-decoration: none;
  padding: 1rem;
}

a:hover {
  color: #cad2c5;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10;
  background-color: #2f3e46;
}

main {
  padding: 20px;
}

section h1 {
  margin-top: 0;
  text-align: center;
}

footer {
  background-color: #52796f;
  color: #cad2c5;
  padding: 20px;
  text-align: center;
}

/* Foreground colors */
body,
header,
footer {
  color: #84a98c;
}

#about {
  display: flex;
  align-items: center;
  margin-top: 60px;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px 10px 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #52796f;
}

.card img {
  width: 100%;
}

.card h2 {
  margin-top: 0;
  padding: 10px;
  background-color: #354f52;
  color: #cad2c5;
}

.card p {
  padding: 10px;
  color: #cad2c5;
}

.card a {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #333;
  color: #cad2c5;
  text-decoration: none;
}

#projects {
  margin-bottom: 100px;
}

#photos {
  text-align: center;
  padding: 20px;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: blue;
}

.photo-container img {
  width: 100px;
  margin: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#UX {
  display: flex;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  font-size: 1rem;
  color: #cad2c5;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #52796f;
  color: #cad2c5;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #354f52;
}
